/* === OGS Custom Profile Theme – Refactored with 5 Colors === */

:root {
/* ==================== ONLY 5 COLORS ==================== */
	--theme-background: #2e2e2e;
	--theme-commments: #797979;
	--theme-white: #d6d6d6;
	--theme-yellow: #e5b567;
	--theme-lime: #b4d273;
	--theme-orange: #e87d3e;
	--theme-purple: #9e86c8;
	--theme-pink: #b05279;
	--theme-blue: #6c99bb;

	/* Cards and Sub-Containers*/
	--theme-background-alpha: rgba(46,46,46, 0.9);
	--theme-border-radius: 12px;

	--theme-text-color: var(--theme-yellow);
	--theme-text-shadows: 2px 2px 4px rgba(0, 0, 0, 0.9);
	--theme-box-shadows: 2px 2px 15px rgba(0, 0, 0, 0.9);
	--theme-borders: 1px solid var(--theme-lime);

	/* Set up defaults */
	color: var(--theme-text-color);
	background-color: var(--theme-background);

	font-family: 'Lucida Console', sans-serif;
  	font-size: 16px;
	text-shadow: var(--theme-text-shadows);


}

a:link, a:visited, a:hover, a:active{
	color: var(--theme-blue);
}

.test-container {
	position: absolute;
	z-index: 0;
	top: 10px;
	left: 10px;

	background-size: 100% auto;
	background-color: var(--theme-blue);
	border: var(--theme-borders);
	box-shadow: var(--theme-box-shadows);
}

.container {
	position: absolute;
	z-index: 0;
	top: 10px;
	left: 10px;

	background-size: 100% auto;
	background-color: transparent;
	border: var(--theme-borders);
	border-radius: var(--theme-border-radius);

	padding: var(--theme-border-radius);

	box-shadow: var(--theme-box-shadows);

	background-repeat: no-repeat;
  	background-position: top left;
	background-image: url('https://unterhunde.github.io/karl_the_mighty.github.io/images/leafonwater2.gif');

}

.ratings-container {
	position: relative;

	padding: var(--theme-border-radius);

	background-size: 100% auto;
	background-color: var(--theme-background-alpha);

	border: var(--theme-borders);
	border-radius: var(--theme-border-radius);

	box-shadow: var(--theme-box-shadows);
}

.ratings-chart {
	position: relative;

	padding: var(--theme-border-radius);

	background-size: 100% auto;
	background-color: var(--theme-background-alpha);

	border: var(--theme-borders);
	border-radius: var(--theme-border-radius);

	box-shadow: var(--theme-box-shadows);
}

/* ===== AVATAR & USERNAME ===== */
.avatar-container .username {
	color: var(--theme-blue);
	text-shadow: var(--theme-text-shadows);
}

.avatar-container .username span {
	animation: username_kapow 1s linear infinite alternate;
}

.avatar-container .username:hover span {
	transform: scale(1.4) rotate(10deg);
	color: var(--theme-orange);
}

@keyframes username_kapow {
	from {
		transform: scale(1) rotate(0deg);
		color: var(--theme-text-color);
	}
	to {
		transform: scale(1.4) rotate(10deg);
		color: var(--theme-orange);
	}
}
