/* === OGS Custom Profile Theme by Karl the Mighty  === */
@import url('https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Cinzel:wght@400..900&family=Iceberg&family=Quicksand:wght@300..700&display=swap');

:root {
/* ==================== ONLY 5 COLORS ==================== */
	--theme-text: #b62779;
	--theme-title: #5a293c;
	--theme-green: #1b4b4b;
	--theme-sub: #263437;
	--theme-bg: #2c2d32;
	--theme-lightpurp: #b7a2c9;



	/* Set up defaults */
	color: var(--theme-text-color);
	background-color: var(--theme-bg);

	/* Cinzel, Astloch, Iceberg, Quicksand */
	--theme-font: 'Quicksand';
	--theme-text-color: var(--theme-text);
	--theme-text-shadows: 2px 2px 4px rgba(0, 0, 0, 0.9);
	--theme-box-shadows: 2px 2px 15px rgba(0, 0, 0, 0.9);

	font-family: var(--theme-font), serif !important;
  	font-size: 12px !important;
	text-shadow: var(--theme-text-shadows) !important;

	--theme-background-alpha: rgba(46,46,46, 0.9);

	/* Borders */
	--theme-border-title-pading: 5px;

	--theme-border-thick: 2px;
	--theme-border-radius: 12px;
	--theme-border-title-radius: 12px; /* Border radius */
	--theme-borders: var(--theme-border-thick) solid var(--theme-green);
	--theme-borders-title-bottom: var(--theme-border-thick) solid var(--theme-green);
	--theme-borders-title-top: var(--theme-border-thick) solid var(--theme-title);
	/* Im a FANCY LAD doing FANCY stuff */
	--theme-bubble-background: rgba(38,52,55,0.9);


}

a:link, a:visited, a:hover, a:active{
	color: var(--theme-lightpurp);
}



h2{

	background-color: var(--theme-title) !important;
	border-top: var(--theme-borders-title-top) !important;
	border-bottom: var(--theme-borders-title-bottom) !important;
	border-top-left-radius: var(--theme-border-title-radius) !important;
	border-top-right-radius: var(--theme-border-title-radius) !important;

	padding: var(--theme-border-title-pading);
}
/* Hide top level Card effects. */
.Card {
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

/* Fill out basic container properties. */
.container {
	position: relative;
	z-index: 0;
	top: 10px;
	left: 10px;

	background-size: 100% auto;
	background-color: transparent;
	border: var(--theme-borders);
	border-radius: var(--theme-border-radius);

	padding: var(--theme-border-radius);

	box-shadow: var(--theme-box-shadows);

	background-repeat: no-repeat;
  	background-position: top left;
	background-image: url('https://unterhunde.github.io/karl_the_mighty.github.io/images/raintile.gif');

	font-family: var(--theme-font), serif !important;
  	font-size: 12px !important;
	text-shadow: var(--theme-text-shadows) !important;



}

/* ===== Ratings Containers ===== */
.ratings-title {
	position: relative;

	background-color: var(--theme-title) !important;
	border-top: var(--theme-borders-title-top) !important;
	border-bottom: var(--theme-borders-title-bottom) !important;
	border-top-left-radius: var(--theme-border-title-radius) !important;
	border-top-right-radius: var(--theme-border-title-radius) !important;

	padding: var(--theme-border-title-pading);

}
.ratings-container {
	position: relative;

	/*padding: var(--theme-border-radius);*/

	background-size: 100% auto;
	background-color: var(--theme-background-alpha);

	border: var(--theme-borders);
	border-radius: var(--theme-border-radius);

	box-shadow: var(--theme-box-shadows);
}
.ratings-graph {
	position: relative;

	padding: var(--theme-border-radius);

	background-size: 100% auto;
	background-color: var(--theme-background-alpha);

	border: var(--theme-borders);
	border-radius: var(--theme-border-radius);

	box-shadow: var(--theme-box-shadows);
}
.graph-type-toggle {
	position: absolute !important;
	top: 15px !important;
	left: 5px !important;
	transform: rotate(-90deg);

}

/* ===== Activity Container ===== */
Card:has(.activity-card) {

	padding: var(--theme-border-radius);

	background-size: 100% auto;
	background-color: var(--theme-background-alpha);

	border: var(--theme-borders);
	border-radius: var(--theme-border-radius);

	box-shadow: var(--theme-box-shadows);
}

/* ===== About Container ===== */
.about-container {
	position: absolute;
	top: 0;
	left: 230px;

	background: var(--theme-bubble-background);
	border: 2px solid #000;
	border-radius: 25px;
	padding: 10px;
	width: 150px;

	color: var(--theme-lightpurp);
	text-align: center;
	font-family: var(--theme-font), sans-serif;
	font-size: 14px !important;
	font-weight: bold;
	/* The Loop: floating animation */
	animation: float 3s ease-in-out infinite;
}
.about-container::after {
  content: '';
  position: absolute;
  bottom: -20px; /* Adjust based on tail size */
  left: 50px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: var(--theme-bubble-background) transparent transparent;
}
@keyframes float {
  0%, 100% { transform: translateY(0) rotate(25deg); }
  50% { transform: translateY(-15px) rotate(25deg); }
}

/* ===== Game List and History Containers ===== */
.active-games-header {
	position: relative;

	background-color: var(--theme-title) !important;
	border-top: var(--theme-borders-title-top) !important;
	border-bottom: var(--theme-borders-title-bottom) !important;
	border-top-left-radius: var(--theme-border-title-radius) !important;
	border-top-right-radius: var(--theme-border-title-radius) !important;

	padding: var(--theme-border-title-pading) !important;

}
.active-games {
	display: none !important;
	position: relative;

	background-size: 100% auto !important;
	background-color: var(--theme-background-alpha) !important;

	border: var(--theme-borders) !important;
	border-radius: var(--theme-border-radius) !important;

	box-shadow: var(--theme-box-shadows) !important;
}

.GameList .inner-container{
	padding: 5px !important;
}
.GameHistoryTable {
	position: relative;

	padding: var(--theme-border-radius);

	background-size: 100% auto;
	background-color: var(--theme-background-alpha);

	border: var(--theme-borders);
	border-radius: var(--theme-border-radius);

	box-shadow: var(--theme-box-shadows);
}
.review-history-table {
	position: relative;

	padding: var(--theme-border-radius);

	background-size: 100% auto;
	background-color: var(--theme-background-alpha);

	border: var(--theme-borders);
	border-radius: var(--theme-border-radius);

	box-shadow: var(--theme-box-shadows);
}

/* ===== Avatar and Username Area ===== */
.avatar-container .Player-rank {
	position:absolute;
	top: 0;
	left: 0;

	color: var(--theme-lightpurp);
	font-family: var(--theme-font), serif;
  	font-size: 36px;
	text-shadow: var(--theme-text-shadows);


	transform: rotate(-90deg);
}

.avatar-container .Player-username {
	position: absolute;
	top: 100px;
	left: 5px;

	color: var(--theme-text);
	text-shadow: var(--theme-text-shadows);

	transform: rotate(-90deg);

	animation: username_kapow 0.25s linear infinite alternate;
}

@keyframes username_kapow {
	from {
		transform: scale(1) rotate(-90deg);
		color: var(--theme-text-color);
	}
	to {
		transform: scale(1.2) rotate(-90deg);
		color: var(--theme-lightpurp);
	}
}
